{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h5>Liste des Alias</h5>
                    </div>
                    <div class="panel panel-body">               
                        <div class="table-responsive">
                            <table class="table table-striped" id="alias_list">
                                <thead>
                                    <tr>
                                        <th>Alias</th>
                                        <th>Adresse</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in alias %}
                                    <tr>
                                        <td>{{t.alias}}</td>
                                        <td>{{t.adresse}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}
