{% extends "base.html" %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="label label-success pull-right">Dollar</span>
                        <h4>Cours</h4>
                    </div>
                    <div class="panel-body">
                        <h1 class="no-margins">${{usd}}</h1>
                        <div class="text-success">+4% <i class="fa fa-bolt"></i></div>
                        <small>Increasing</small>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="label label-info pull-right">Euros</span>
                        <h4>Cours</h4>
                    </div>
                    <div class="panel-body">
                        <h1 class="no-margins">{{eur}}€</h1>
                        <div class="text-info">+2% <i class="fa fa-level-up"></i></div>
                        <small>Increasing</small>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="label label-success pull-right">Bitcoin</span>
                        <h4>Cours</h4>
                    </div>
                    <div class="panel-body">
                        <h1 class="no-margins">{{bit}}€</h1>
                        <div class="text-info">+2% <i class="fa fa-level-up"></i></div>
                        <small>Increasing</small>
                    </div>
                </div>
            </div>

        </div>


    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <script src="static/js/chartJs/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

{% endblock %}
